@import 'base/variables';
@import 'base/mixints';
* {
    font-family: 'Roboto', sans-serif;
}
.container {
    max-width: 1100px;
    margin: 0 auto;
}
@import 'blocks/header';
@import 'blocks/subheader';
@import 'blocks/transportation';
.divider {
    width: 90px;
    height: 6px;
    color: $main-color;
}
@import 'blocks/transfer';